<!DOCTYPE html>
<html lang="en">
<head>
    <title> Lista de Usuarios </title>
</head>
<body>
    <h1> Lista de Usuarios Cadastrados</h1>
    <a href="/"> Voltar para a inicial</a> <br> <br>
    </thead>
        {% for usuario in usuarios %}
        <tr>
            <td><strong>
                <li>Nome: {{ usuario.nome }} </li> 
                <li>Matricula: {{ usuario.matricula }} </li>
                <li>Idade:{{ usuario.idade }}</li>
                <li>Cidade:{{ usuario.cidade }}</li><br> 
        </tr>
        {% endfor %}
</body>
</html>
